<ion-content>
    <ion-icon class="close" (click)="this.router.navigate(['start']);" name="close-circle"></ion-icon>
    <section class="score">
        <h1><b>{{currentPlayer.player}}</b></h1>
        <h2>Score: <b>{{currentScore}}</b></h2>
    </section>

    <section class="points">
        <div class="row">
            <ion-button color="primary" (click)="refreshScore(1)" >1</ion-button>
            <ion-button color="primary" (click)="refreshScore(2)" >2</ion-button>
        </div>
        <div class="row">
            <ion-button color="primary" (click)="refreshScore(5)" >5</ion-button>
            <ion-button color="primary" (click)="refreshScore(10)" >10</ion-button>
        </div>
        <div class="row">
            <ion-button class="pro" color="primary" (click)="refreshScore(20)" >20</ion-button>
        </div>
    </section>

    <button class="next" (click)="nextPlayer()">Next player</button>

</ion-content>
